In [10]:
import numpy as np
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import sys
import os

In [11]:
sys.path.append(os.path.abspath(os.path.join('../scripts')))

In [14]:
from file_handler import *
from plot import *
from selector import *

In [18]:
file_handler = FileHandler()

In [4]:
store_df = pd.read_csv('../data/store.csv') 
train_df = pd.read_csv('../data/train.csv')

C:\Users\Danayt\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Merge the clean datas of store and train first

In [5]:
df = pd.merge(train_df, store_df, how='inner', on='Store')

In [6]:
df.shape

(1017209, 28)

In [19]:
#put the merged ones in to one file 
file_handler.to_csv(df, '../data/merged.csv')

In [22]:
df.head(10)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,CompetitionBeforeStoreOpened,PromoInterval0,PromoInterval1,PromoInterval2,PromoInterval3
0,1,5,2015-07-31,5263,555,1,1,0,1,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
1,1,4,2015-07-30,5020,546,1,1,0,1,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
2,1,3,2015-07-29,4782,523,1,1,0,1,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
3,1,2,2015-07-28,5011,560,1,1,0,1,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
4,1,1,2015-07-27,6102,612,1,1,0,1,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
5,1,7,2015-07-26,0,0,0,0,0,0,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
6,1,6,2015-07-25,4364,500,1,0,0,0,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
7,1,5,2015-07-24,3706,459,1,0,0,0,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
8,1,4,2015-07-23,3769,503,1,0,0,0,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0
9,1,3,2015-07-22,3464,463,1,0,0,0,2015,...,2008,0,0,0,"0,0,0,0",0,0,0,0,0

## Univariate Analysis

### Non-Graphical

In [24]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Store,1017209.0,558.429727,321.908651,1.0,280.0,558.0,838.0,1115.0
DayOfWeek,1017209.0,3.998341,1.997391,1.0,2.0,4.0,6.0,7.0
Sales,1017209.0,5773.818972,3849.926175,0.0,3727.0,5744.0,7856.0,41551.0
Customers,1017209.0,633.145946,464.411734,0.0,405.0,609.0,837.0,7388.0
Open,1017209.0,0.830107,0.375539,0.0,1.0,1.0,1.0,1.0
Promo,1017209.0,0.381515,0.485759,0.0,0.0,0.0,1.0,1.0
SchoolHoliday,1017209.0,0.178647,0.383056,0.0,0.0,0.0,0.0,1.0
Year,1017209.0,2013.832292,0.777396,2013.0,2013.0,2014.0,2014.0,2015.0
Month,1017209.0,5.846762,3.326097,1.0,3.0,6.0,8.0,12.0
DayOfMonth,1017209.0,15.702790,8.787638,1.0,8.0,16.0,23.0,31.0
WeekOfYear,1017209.0,23.615515,14.433381,1.0,11.0,22.0,35.0,52.0
weekday,1017209.0,0.715437,0.451206,0.0,0.0,1.0,1.0,1.0
CompetitionDistance,1017209.0,5613.013481,8498.338271,20.0,710.0,2330.0,6910.0,75860.0
CompetitionOpenSinceMonth,1017209.0,5.244756,3.928522,1.0,1.0,4.0,9.0,12.0
CompetitionOpenSinceYear,1017209.0,1974.140034,50.853233,1900.0,1900.0,2006.0,2011.0,2015.0
Promo2,1017209.0,0.500564,0.500000,0.0,0.0,1.0,1.0,1.0
Promo2SinceWeek,1017209.0,11.647665,15.323928,0.0,0.0,1.0,22.0,50.0
Promo2SinceYear,1017209.0,1007.010608,1005.876930,0.0,0.0,2009.0,2012.0,2015.0
CompetitionBeforeStoreOpened,1017209.0,0.317878,0.465652,0.0,0.0,0.0,1.0,1.0
PromoInterval0,1017209.0,0.808776,0.981175,0.0,0.0,1.0,1.0,3.0
PromoInterval1,1017209.0,2.310467,2.374089,0.0,0.0,4.0,4.0,6.0
PromoInterval2,1017209.0,3.812159,3.848362,0.0,0.0,7.0,7.0,9.0
PromoInterval3,1017209.0,5.313850,5.336992,0.0,0.0,10.0,10.0,12.0

### Store type

In [30]:
# unique value counts
counts_df = df['StoreType'].value_counts()
counts_df

a    551627
d    312912
c    136840
b     15830
Name: StoreType, dtype: int64

### Assortment

In [34]:
# unique value counts
counts_df = df['Assortment'].value_counts()
counts_df

a    537445
c    471470
b      8294
Name: Assortment, dtype: int64

### CompetitionDistance

In [41]:
# unique value counts
counts_df = df['CompetitionDistance'].value_counts()
counts_df.head()

250.0     11120
350.0      7536
50.0       7536
1200.0     7374
190.0      7352
Name: CompetitionDistance, dtype: int64